.cards
  - @plants.each do |plant|
    .card
      .card-image
        = image_tag "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"
      .card-header
        = plant.name
      .card-copy
        %ul
          %li
            = plant.botanical_name
          %li 
            Last watered on:
            = plant.last_watering_date
          %li 
            = button_to "Water", plant_waterings_path(plant)

= link_to "New Plant", new_plant_path
