!!!
%html
  %head
    %title Plantiful
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag('application', media: 'all')

  %body
    - flash.each do |key, value|
      %div{class: "flash-#{key}"}
        = value
        
    .main
      = yield
